/* main color theme */
:root {
    --background: #F5F3F1;
    --maroon: #8C2F26;
    --grayish: #4B444B;
}

/* main font formats */
h1, h2, h3, h4, h5, h6, a {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    color: var(--grayish);
}


div, p, input, ul, ol, li {
    font-family: "Roboto", monospace;
    font-optical-sizing: auto;
    color: var(--grayish);

}


b, strong {
    font-weight: 600;
}



/* 
    Attached to the img element of each thumbnail image.
    Adds a border to ensure images pop from the background.
    White background color ensures transparent PNGs are solid.
*/
.thumbnail {
    border-radius: 10px;
    border: 0.5px solid var(--grayish);
    width: 100%;
    margin-top: 15px;
    background-color: white;
}

/* Darkens the images on hover and focus to indicate interaction */
.thumbnail:hover, .thumbnail:focus {
    filter: brightness(75%);
    transition: filter 0.2s ease;
}

.full-image {
    border-radius: 10px;
    border: 0.5px solid var(--grayish);
    width: 100%;
    background-color: white;
}

.container-md {
    background-color: var(--background);
}

.header {
    background-color: white;
    position: sticky;
    top: -10px;
    z-index: 100;
}

.logo {
    width: 150px;
}

h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
}

h2 {
    font-weight: 200;
    font-style: normal;
    font-size: 14pt;
}

p, a {
    color: var(--maroon);
}

/* Search Related Formattings */

#search {
    border: 1px solid var(--grayish);
    border-radius: 20px;
    padding: 5px 10px;
    width: calc(100% - 10px);
}

.filter-col {
    position: sticky;
    top: 100px;
    height: 100vh; /* Ensures it takes full height */
    overflow-y: auto;
}

.tag {
    border-radius: 20px;
    border: 0.5px solid var(--grayish);
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    display: inline-block;
}

/* The white description box next to a clicked image */
.description {
    background-color: white;
    border-radius: 10px;
    color: black;
    height: 100%;
}

/* Temporary fix, 'posts' and 'add new inspo' weren't aligning correctly */
.post-col {
    width: calc(100vw - 280px);
}

/* Inspo Board Settings */
.inspo-board {
    margin: 0px;
    padding-inline: 0px 40px;
}